/* @import "tailwindcss"; */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    /* background: #2A7B9B; */
    background: linear-gradient(338deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
div.quotediv {
    width: 60%;
    padding: 30px;
    border-radius: 20px;
    background: white;
}